/* NAV Bar */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
  background-color: #28A4C9;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  height: auto;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 35;
}

/* Declare heights because of positioning of img element */

/* Carousel base class */
.carousel {
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: center;
  top: 0;
  left: 0;
  min-width: 75%;
  height: 500px;
}

/*calender */
.topheader{
        background: #151515;
}
.topheader a{
        color:#B2B2B2;
        padding: 10px;
}
.topheader a:hover{
        color: #FFF;
        text-decoration: none;
}
.customcontainer{
        padding-left: 5px;
        padding-right: 5px;
        margin-right: auto;
        margin-left: auto;
}
.customcontainer a:nth-of-type(1):before{
        content: "+";
}
.calendarword{
        color:red;
        font-size: 24px;
        padding-left: 20px;
        padding-top: 20px;
}
.rutgerslogo{
        padding: 10px;
        width: 70%;
}
.content{
        width:100%;
        height: 550px;
        border-top: 1px solid #EBEBEB;
}
.left-content{
        margin: auto;
        display:inline-block;
        width: 18%;
        height: 100%;
}
.right-content{
        padding-left: 12px;
        margin: auto;
        display:inline-block;
        width: 80%;
        height: 100%;
}
.h6pad{
        padding-left: 25px;
}
.grey{
        color: #b2b2b2;
}